---
layout: default
title: Projects - Mandy Chen
---

<div id="carouselExampleControls" class="carousel slide hidden-xs-down" data-ride="carousel">
	<ol class="carousel-indicators">
		{% for item in site.data.carousel %}
			<li data-target="#carouselExampleControls" data-slide-to="{{ forloop.index0 }}"
			class="{% if forloop.index0 == 0 %} active {% endif %}"></li>
		{% endfor %}
	</ol>
	<div class="carousel-inner" role="listbox">
		{% for item in site.data.carousel %}
			<div class="carousel-item {% if forloop.index0 == 0 %}active{% endif %}">
				<!-- <a href="#airbc"> -->
				<img class="img-fluid d-block slide mx-auto" src="{{ site.url }}{{ item.src }}" alt="{{ item.alt }}" align="middle">
				<!-- </a> -->
			</div>
    {% endfor %}
	</div>
	<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon left-control" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
	<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
			<span class="carousel-control-next-icon right-control" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	<div class="col text-center main-text carousel-title">
		<p>Projects</p>
	</div>
</div>

<div class="title text-center hidden-sm-up">
	<p class="text-center mb-0">Projects</p>
</div>
<div class="container">
	<div class="row">
		<div class="col post col-md-10 offset-md-1 col-lg-8 offset-lg-2 px-sm-5">
			<p class="mb-0">Welcome to my projects page!</p>
			<p class="mb-0">This page shows some recent projects I have done individually and in teams, along with the projects that are ongoing.</p>
		</div>
		{% assign projects = site.projects | sort: 'date' | reverse %}
		{% assign card_style = 'col post col-md-10 offset-md-1 col-lg-8 offset-lg-2 px-sm-5' %}
		{% for project in projects %}
			<div class="w-100"></div>
			{% include project_card.html projects=projects cardstyle=card_style %}
		{% endfor %}
	</div>
</div>
