<div class="col-sm-4">
  <div class="row">
    <img src="{{ site.url }}/images/profile.jpg" class="profile mx-auto">
  </div>
  <p></p>
  <div class="row">
    <div class="col text-center">
      <p class="m-0 p-0 icon-list"><a href="{{ site.url }}" class="hover-show">Mandy Chen</a></p>
      <p class="mb-1 p-0">@42mandychen</p>
      {% include social_media.html resume=false %}
        <p class="mb-1 p-0 social"><a href="{{ site.url }}/files/MandyChen-Resume.pdf" class="hover-show" target="_blank">
          <i class="fa fa-file-text-o fa-lg"></i> PDF Resume</a>
        </p>
        <p class="mb-1 p-0 social">
          <a href="{{site.url}}/resume" class="hover-show" target="_blank">
            <i class="fa fa-link fa-lg"></i> Markdown Resume</a>
        </p>
    </div>
  </div>
</div>
