<title>{{ page.title }}</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- OpenGL meta data -->
<meta property="og:title" content="Mandy Chen" />
<meta property="og:type" content="profile" />
<meta property="og:description" content="Stay organized. | CS student @UBC." />
<meta property="profile:first_name" content="Mandy" />
<meta property="profile:last_name" content="Chen" />
<meta property="profile:gender" content="female" />
<meta property="fb:profile_id" content="558710364274912" />
<meta property="og:url" content="{{ site.url }}" />
<meta property="og:image" content="{{ site.url }}/images/profile.jpg" />
<!-- Twitter meta data -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@42mandychen">
{% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}">
{% else %}
  <meta name="twitter:title" content="{{ site.title }}">
{% endif %}
<meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
<meta name="twitter:image:src" content="{{ site.url }}/images/profile.jpg">
<meta name="twitter:creator" content="@42mandychen">
<!-- For icon files -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">
