<p class="footer-icons mb-0">
  <a href="https://www.linkedin.com/in/42mandychen" class="fa fa-linkedin footer-link" target="_blank"></a>
  <a href="http://www.github.com/42mandychen" class="fa fa-github footer-link" target="_blank"></a>
  <a href="http://www.facebook.com/42mandychen" class="fa fa-facebook footer-link" target="_blank"></a>
  <a href="https://twitter.com/42mandychen" class="fa fa-twitter footer-link" target="_blank"></a>
  <a href="{{ site.url }}/files/MandyChen-Resume.pdf" class="fa fa-file-text-o footer-link" target="_blank"></a>
  <a href="mailto:mandychen@alumni.ubc.ca" class="fa fa-envelope-o footer-link" target="_blank"></a>
</p>
