.footer {
    bottom: 0;
    width: 100%;
    height: auto;
    
    padding-top: 0.5em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    color: white;
    background-color: rgba(128, 0, 0, 1);
}

div.container {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

img.profile {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

a.hover-show:link, a.hover-show:visited{
    color: white;
    text-decoration: none;
}

a.hover-show:hover{
    text-decoration: none;
    background-color: maroon;
}

a.intext-link:link, a.intext-link:visited{
    color: lightpink;
    border-bottom: 2px solid lightpink;
}

a.intext-link:hover {
    text-decoration: none;
    background-color: maroon;
}

a.footer-link:link, a.footer-link:visited {
    color: white;
}


div.hi {
    padding-left: 5em;
    padding-right: 0em;
}

h3, h5{
  line-height: 30px; 
}

div.right-quote {
     text-align: right;
}

footer-icons {
    display: inline-block;
    width: 0.2em;
}

div.icon-list {
    font-size: 25px; 
    font-family: ariel, sans-serif; 
    color: white;
}

