body, .social-links {
    background-color: #610500;
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 18px;
    font-weight: 100;
}

h3, h5{
  line-height: 30px; 
}


.footer {
    bottom: 0;
    width: 100%;
    height: auto;
    
    padding-top: 0.1em;
    padding-right: 1em;
    padding-bottom: 0.1em;
    padding-left: 2em;
    color: white;
    background-color: rgba(128, 0, 0, 1);
}

div.container {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

img.profile {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

p.social {
     font-size: 18px;
}

a.brand-link:hover {
    color: rgba(0,0,0,0.9);
}

a.hover-show:link, a.hover-show:visited{
    color: white;
    text-decoration: none;
}

a.hover-show:hover{
    text-decoration: none;
    background-color: maroon;
}

a.intext-link:link, a.intext-link:visited{
    color: lightpink;
    border-bottom: 2px solid lightpink;
}

a.intext-link:hover {
    text-decoration: none;
    background-color: maroon;
}

a.footer-link:link, a.footer-link:visited, a.title-link:link, a.title-link:visited {
    color: white;
}

a.title-link:hover{
    text-decoration: none;
}

div.hi {
    padding-left: 1.5em;
    padding-right: 0em;
    font-family: 'Satisfy', cursive;
    font-size: 300%;
}

div.title {
    padding-left: 0em;
    padding-right: 0em;
    font-family: 'Satisfy', cursive;
    font-size: 300%;
}

div.right-quote {
     text-align: right;
}

i.link {
    color: lightpink;
}

footer-icons {
    display: inline-block;
    width: 0.2em;
}

div.icon-list {
    font-size: 25px; 
    font-family: ariel, sans-serif; 
    color: white;
}

div.footer{
    font-size: 18px;
}

