html {
  position: relative;
  min-height: 100%;
}

.post {
  background-color: #f7f7f7;
  color: black;
  border-style: solid;
  border-color:  #f7f7f7 rgba(128, 0, 0, 1);
  border-width: 1px;
}

body {
  background-color: #610500;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 19px;
  font-weight: lighter !important;
  margin-bottom: 130px;
}

h1 {
  margin-bottom: 1.5rem
}

h3, h5 {
  line-height: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 130px;
  display: block;
  padding-top: 0.1rem;
  padding-right: 2em;
  padding-bottom: 0.1em;
  padding-left: 2em;
  color: white;
  background-color: rgba(128, 0, 0, 1);
  font-size: 18px;
}

.title {
  padding-left: 0em;
  padding-right: 0em;
  font-family: 'Satisfy', cursive;
  font-size: 300%;
  color: black;
}

div.container {
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}

pre, code {
    padding: .2rem .4rem;
    font-size: 90%;
    color: #292b2c;
    background-color: rgba(41, 43, 44, 0.19);
    border-radius: .2rem;
}

.read-more {
    color: #d9534f;
    border-color: lightpink;
}

p.social {
  font-size: 18px;
}

a:link, a:visited, a:active {
  color: lightpink;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.footer-link:link, a.footer-link:visited {
  color: white;
}

a.title-link:link, a.title-link:visited {
  color: black;
}

footer-icons {
  display: inline-block;
  width: 0.2em;
}

div.icon-list {
  font-size: 28px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: lighter !important;
  color: white;
}

a.site-link:link, a.site-link:visited, a.site-link:active {
  color: white;
  text-decoration: none;
}

a.site-link:hover {
  text-decoration: underline;
}

a.navlink {
  color: rgba(0, 0, 0, .5) !important;
}
